html,
body {
  font-family: "Nexa", "Open Sans";
}

img {
  max-width: 140% !important;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.hero-background {
  // background-image: url("../images/banner-bg.png");

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-burger {
  color: #6c5ce7;
}

.footer {
  background-color: white;
}

.title {
  font-family: "Fredoka One", "Open Sans";
  font-size: 4rem !important;
}

#navbar-container {
  margin-top: 24px;

  .brand-title {
    font-size: 1.4rem;
    color: #6c5ce7;
  }
}

#navbarMenu {
  .navbar-item {
    margin-right: 24px;
    margin-left: 24px;
    color: #6c5ce7;
    font-weight: 600;
  }
}

#btn-access {
  background-color: #c861bd;
  border-color: #c861bd;
  color: white;
  padding: 24px;
  width: 100%;
}

.btn-register {
  background-color: #c861bd !important;
  border-color: #c861bd !important;
  color: white !important;
  // padding: 24px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

#signup-form {
  .control {
    display: flex;

    input {
      height: 48px;
    }

    .icon {
      height: 3rem;
      width: 3rem;
      padding-right: 8px;
    }
  }
}

#success-img {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60%;
  }
}

#about {
  padding-top: 32px;
  padding-bottom: 32px;
}
